*.bak_CIR
RFSimulation/Round7.hfssresults/
*.dsn
*.kicad_pcb-bak
*.fsxview
*.ses
*.sd
*.tmp
*.profile
RFSimulation/Round_Horda4_C_holes.hfssresults/
RFSimulation/Round_Horda4_C_hand.hfssresults/HFSSDesign1.results/DV5215_V5514.imesh/initial.stats
RFSimulation/Round_Horda4_C_hand.hfssresults/
RFSimulation/Round_Horda4_C.hfssresults/mf_0/GeometryCache/BodyCache/0000071.sab
RFSimulation/Round_Horda4_C.hfssresults/
RFSimulation/Stohastic1.hfssresults/
RFSimulation/Round_Horda2_hand.hfssresults/
RFSimulation/Stohastic1_analyze.hfssresults/HFSSDesign1.results/DV3618_S107_V3579_F3637/3_1.tvc
RFSimulation/Stohastic1_analyze.hfssresults/HFSSDesign1.results/DV3618_S107_V3579_F3637/3.nvc
RFSimulation/Stohastic1_analyze.hfssresults/
RFSimulation/Round7_hand.hfssresults/
RFSimulation/Round_Horda2.hfssresults/
RFSimulation/Meander.hfssresults/
RFSimulation/Round7_holes.hfssresults/
RFSimulation/Round7_holes_MaxGain.hfssresults/
RFSimulation/Stohastic2.hfssresults/
RFSimulation/Stohastic3.hfssresults/
RFSimulation/Stohastic3_minS11.hfssresults/
*.dat
*.scr
